body {
	font-family: "Gilroy", Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

ul, li, p, div, form, h3 {
	margin: 0;
	padding: 0;
}

a, ul:not(.delivery-companies) li, .catalog {
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	list-style: none;
	color: #000000;
	}

.catalog-popup li a {
	font-size: 15px;
	line-height: 36px;
	text-transform: none;
	letter-spacing: normal;
}

a,
.catalog,
.delivery-companies {
	font-weight: bold;
}

h3 {
	font-size: 47px;
	line-height: 48px;
}

p,
.service-info__description,
.hit-product__description,
.address,
.telephone,
.header-user-nav li a,
.footer-user-nav li a {
	font-size: 15px;
	line-height: 30px;
}

.catalog-popup li a {
	font-weight: normal;
}

.hit-product-info__data th {
	font-size: 36px;
	line-height: 48px;
	font-weight: 400;
}

.hit-product-info__data--categories td {
	font-size: 13px;
	line-height: 20px;
}

.header-logo > a,
.footer-logo {
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
	font-weight: bold;
}

.catalog,
.info-header,
.hit-product__page-link,
.more-info,
.service-info ul li,
.info-footer ul a {
	text-transform: uppercase;
}

input[placeholder*="Поиск"] {
	display: inline-block;
	background-color: transparent;
	border: 0px;
	font-size: 15px;
	padding-left: 30px;
	line-height: 30px;
	background: url(../img/search-icon.png) no-repeat;
	background-position: 0 7px;
	outline: none;
}

.header-search input:nth-child(1):focus {
	border-bottom: 2px solid black;
}

input[value*="Найти"] {
	width: 80px;
	height: 35px;
	background-color: transparent;
	border: none;
	color: #000;
	border: 1px solid #000;
	cursor: pointer;
	box-sizing: border-box;
	padding-right: 10px;
}

input[value*="Найти"]:hover {
	color: #fff;
	background-color: #000;
}

.header-search input:nth-child(1):hover,
.header-user-nav li:hover,
input[value*="Найти"]:active {
	opacity: 0.6;
}

.header-nav-item__login {
	margin-right: 25px;
}

.hit-product__page-link,
.about-us,
.catalog,
.info-header a,
.info-footer a,
.service-info a {
	letter-spacing: 2px;
}

.main-footer {
	min-height: 323px;
	background-color: #464646;
}

.footer-logo {
	color: #ffc600;
}

.info-footer li a,
.address,
.telephone,
.footer-user-nav li a {
	color: #ffffff;
}

.header-user-nav li a,
.footer-user-nav li a {
	font-weight: normal;
	line-height: 36px;
}

.main-header {
	min-height: 300px;
	background-color: #f7e296;
	margin-top: 40px;
	position: relative;
}

.header-logo {
	position: absolute;
	top: -25px;
}

.header-logo:hover,
.footer-logo:hover,
a:not(.product-categories-item):hover,
.catalog:hover span {
	opacity: 0.7;
}

.banners a:hover {
	opacity: 1;
}

.banners a:first-child img:hover {
	background: url(../img/logo-1-hover.png);
}

.banners a:nth-child(2) img:hover {
	background: url(../img/logo-2-hover.png);
}

.banners a:nth-child(3) img:hover {
	background: url(../img/logo-3-hover.png);
}

.banners a:last-child img:hover {
	background: url(../img/logo-4-hover.png);
}

.product-categories-item:hover {}

.header-logo:active,
.footer-logo:active,
a:active,
.header-user-nav ul li:active,
.hit-product-container:active {
	opacity: 0.5;
}

.catalog {
	margin-top: 45px;
	cursor: pointer;
}

.header-catalog-container {
	background: url(../img/plus-icon.png) no-repeat 210px 48px;
}

.catalog-popup {
	display: none;
	width: 1105px;
	min-height: 130px;
	padding-top: 20px;
	background-color: #f7e296;
	position: absolute;
	z-index: 1000;
}

.catalog-popup li {
	display: flex;
	flex-direction: column;
}

.catalog-popup li:nth-child(2) {
	margin-left: 60px;
	margin-right: 60px;
}

.catalog-menu:hover .catalog-popup {
    display: flex;
}

.header-number {
	color: #ffffff;
	font-size: 179px;
	line-height: 179px;
	position: absolute;
	font-weight: bold;
	top: -100px;
	left: 937px;
}

.header-content-container {
	width: 1050px;
	margin: 0 auto;
}

.line-decoration {
	width: 100px;
	position: absolute;
	border-top: 8px solid white;
	top: 220px;
	left: 570px;
}

.header-nav-container,
.header-catalog-container {
	display: flex;
	justify-content: space-between;
}

.header-user-nav ul,
.info-header {
	display: flex;
	margin-top: 45px;
}

.header-user-nav li a {
	display: inline-block;
	padding-left: 20px;
}

.header-user-nav li {
	background: url(../img/header-nav-sprite.png) no-repeat 0 10px;
}

.header-user-nav li:nth-of-type(2) {
	margin-left: 215px;
	background-position: -285px 10px;
}

.header-user-nav li:last-child {
	margin-left: 65px;
	background-position: -415px 10px;
}

.header-nav-container form {
	margin-top: 45px;
}

.info-header {
	margin-right: 72px;
}

.info-header li:last-child {
	padding-left: 135px;
	margin-right: -75px;
}

.info-header li:nth-of-type(2) {
	padding-left: 80px;
}

.slider {
	display: flex;
	min-height: 390px;
	width: 485px;
	margin-right: 30px;
	position: relative;
	top: -30px;
	margin-right: 105px;
}

.toggle-list,
.toggles-list-container {
	display: flex;
}

.slider > div {
	margin-left: 180px;
}

.slider h3 {
	margin-bottom: 35px;
	position: relative;
}

.slider p {
	margin-bottom: 50px;
}

.button {
	display: inline-block;
	width: 220px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #f0c52e;
	margin-bottom: 20px;
}

.hit-product-info {
	width: 435px;
}

.hit-product-info th {
	display: inline-block;
	padding-bottom: 20px;
	padding-right: 75px;
}

.hit-product-info td {
	display: inline-block;
	padding-right: 75px;
}

.hit-product-info th:last-child,
.hit-product-info td:last-child {
	padding-right: 0;
}

.slider-one-pic {
	position: relative;
	top: -80px;
	left: 90px;
	z-index: 1;
}

.product-categories > .container {
	display: flex;
	justify-content: space-between;
}

.product-categories {
	margin-bottom: 170px;
}

.product-categories .product-categories__img-container {
	width: 160px;
	height: 160px;
	background-color: #f7e296;
}

.product-categories__img-container {
	position: relative;
	margin-bottom: 35px;
}

.product-categories-item:hover .product-categories__img-container {
	background-color: #f0c52e;
}

.product-categories img {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.service-info {
	min-height: 288px;
	position: relative;
	margin-bottom: 105px;
	background: #e5e5e5;
}

.line-decoration__service-info {
	position: absolute;
	height: 320px;
	width: 10px;
	background-color: #000;
	left: 434px;
	bottom: 70px;
}

.service-info-container {
	display: flex;
}

.service-info__services--container {
	position: absolute;
	top: -13px;
}

.service-info__description--container {
	position: absolute;
	width: 435px;
	left: 540px;
	top: -30px;
}

.service-info h3 {
	padding-bottom: 40px;
}

.banners {
	margin-bottom: 105px;
}

.features {
	min-height: 565px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 85px;
}

.about-us__container {
	position: relative;
	width: 500px;
}

.contacts__container {
	width: 565px;
}

.features h3 {
	padding-bottom: 55px;
	padding-top: 50px;
}

.features p:first-of-type {
	padding-bottom: 40px;
}

.features p:nth-of-type(2) {
	padding-bottom: 80px;
}

.delivery-companies {
	padding-left: 15px;
	padding-bottom: 80px;
}

.features__line-decoration {
	position: absolute;
	background-color: #000;
	height: 10px;
	width: 80px;
}

.features img {
	margin-bottom: 54px;
}

.logo-login__container,
.address-info-tel__container,
.social-logo__container {
	padding-top: 65px;
}

.logo-login__container,
.footer-user-nav ul,
.address-info-tel__container {
	display: flex;
	justify-content: space-between;
}

.footer-user-nav ul li {
	padding-right: 60px;
}

.footer-user-nav ul li:last-child {
	padding-right: 0;
}

.info-footer ul,
.footer-social {
	display: flex;
}

.social-logo__container {
	display: flex;
	justify-content: flex-end;
}

.footer-social {
	padding-right: 450px;
}

.footer-social a {
	background: url(../img/social-icons-sprite.png) no-repeat;
	display: block;
	width: 32px;
	height: 32px;
	opacity: 0.5;
}

.footer-social li:nth-child(2) a {
	background-position: -55px 0;
}

.footer-social li:last-child a {
	background-position: -109px 0;
}

.footer-social li a:hover {
	opacity: 1;
}

.footer-social li a:active {
	opacity: 0.3;
}

.info-footer li,
.footer-social li {
	padding-right: 35px;
}

.info-footer li:last-child,
.footer-social li:last-child {
	padding-right: 0;
}

.big-map {
	position: absolute;
    left: 70px;
    top: 40px;
}

.small-map {
	cursor: pointer;
}

.exit-button {
	position: absolute;
	display: block;
	height: 55px;
	width: 55px;
	top: 25px;
	left: 910px;
	cursor: pointer;
	background: url(../img/modal-close.png) no-repeat;
}

.exit-button:hover {
	opacity: 0.8;
}